:root{
    --verde:#7baf5e;
    color: white;
}

body {
    background-color:var(--verde);
   }

   img {
    width: 10%;
}

.img-jobs{
    width: 29%;
    border-radius: 69px;
}

  #linkedin{
      display: grid;
      grid-template-columns: 33% 33% 33%;
      background-color: #cf0ae9;
      text-align: center;
      color: white;
     }
    
  .img-linkedin{
      width: 59%;
      border-radius: 75px;
     }
  